@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

* {
    box-sizing: border-box;
    max-width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0.25em;
    width: 100%;
    font: 16px 'Changa';
    background-color: black;
    color: white;
}

stars-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.divimg1 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

img {
    max-width: 400px;
    width: 100%;
}

.loading {
    width: 5rem;
    min-width: 5rem;
}

.valorPesquisa {
    border: 0;
    border-bottom: 2px solid red;
    width: 100%;
    max-width: 400px;
    font-size: 2rem;
    line-height: 35px;
    height: 70px;
    text-align: center;
    padding: 10px;
    background: transparent;
    outline: 0;
    font-family: 'Changa';
    color: white;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px red;
}

h1 {
    text-align: center;
    margin: 1.5em 0 0;
    font-size: 3em;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px black;
}

.accordion {
    margin: 1em auto;
    max-width: 30em;
}

.toggle {
    display: none;
}

.option {
    position: relative;
}

.title,
.content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
}

.title {
    background: #fff;
    padding: 0.2em;
    display: block;
    color: black;
    font-weight: bold;
    height: 3rem;
    text-shadow: 2px 2px 2px red;
}
.title:after,
.title:before {
    content: '';
    position: absolute;
    right: 1.25em;
    top: 0.7em;
    width: 2px;
    height: 0.75em;
    background-color: red;
    transition: all 0.2s;
}
.title:after {
    transform: rotate(90deg);
}

.content {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    p {
        margin: 0;
        padding: 0.5em 1em 1em;
        font-size: 0.9em;
        line-height: 1.5;
        color: white;
    }
}

.toggle:checked {
    & + .title,
    & + .title + .content {
        box-shadow: 3px 3px 6px red, -3px 3px 6px red;
        background-color: black;
        color: #ddd;
    }
    & + .title + .content {
        max-height: 500px;
    }
    & + .title:before {
        transform: rotate(90deg) !important;
    }
}
